<div hx-ext="ws" ws-connect="{{ .WsLink }}">
    <div class="col md-12">
        <div>
            Date Range:
            <a href="{{ .PrevPeriodLink }}"><</a>
            {{ .DateFrom | dateFormat "2006-01-02" }}
            -
            {{ .DateTo | dateFormat "2006-01-02" }}
            <a href="{{ .NextPeriodLink }}">></a>
        </div>
    </div>

    <div class="clearfix"></div>
    <hr/>

    <div class="row align-items-start">
        {{ block "pnl" . }}
        <div class="col-4" id="pnl{{ if .IsCurrentPeriod }}-ws{{ end }}">
            <h5>
                {{ $classRealPNL := "" }}
                {{ if gt .RealizedPNL 0.0 }}
                {{ $classRealPNL = "text-success" }}
                {{ else if lt .RealizedPNL 0.0 }}
                {{ $classRealPNL = "text-danger" }}
                {{ end }}

                Realized PNL:
                <span class="{{ $classRealPNL }}">
                    {{ .RealizedPNL | moneyFormat .PricePrecision }}
                    {{ .MainCurrency }}
                    ({{ .RealizedPNLPercent | moneyFormat 2 }}%)
                </span>
                <br/>

                {{ $classUnrealPNL := "" }}
                {{ if gt .UnrealizedPNL 0.0 }}
                {{ $classUnrealPNL = "text-success" }}
                {{ else if lt .UnrealizedPNL 0.0 }}
                {{ $classUnrealPNL = "text-danger" }}
                {{ end }}

                Unrealized PNL:
                <span class="{{ $classUnrealPNL }}">
                    {{ .UnrealizedPNL | moneyFormat .PricePrecision }}
                    {{ .MainCurrency }}
                    ({{ .UnrealizedPNLPercent | moneyFormat 2 }}%)
                </span>
            </h5>
        </div>
        {{ end }}
    </div>
    <hr/>

    <div class="row align-items-start">
        <div class="col-4">
            <h5>Balance before:</h5>
            {{ .BalanceMainBefore | moneyFormat .PricePrecision }} {{ .MainCurrency }} ≈
            {{ .BalanceMainBeforeEqv | moneyFormat .QtyPrecision }} {{ .TradeCurrency }}<br/>
            {{ .BalanceTradeBefore | moneyFormat .QtyPrecision }} {{ .TradeCurrency }} ≈
            {{ .BalanceTradeBeforeEqv | moneyFormat .PricePrecision }} {{ .MainCurrency }}<br/>
            Total: <strong>{{ .BalanceTotalBefore | moneyFormat .PricePrecision }} {{ .MainCurrency }}</strong>
        </div>

        {{ block "assets" . }}
        <div class="col-4" id="assets{{ if .IsCurrentPeriod }}-ws{{ end }}">
            <h5>Assets:</h5>
            Deposit amount: {{ .DepoAmount | moneyFormat .PricePrecision }} {{ .MainCurrency }}<br/>
            Withdraw amount: {{ .WithdrawAmount | moneyFormat .PricePrecision }} {{ .MainCurrency }}
        </div>
        {{ end }}

        {{ block "balance-after" . }}
        <div class="col-4" id="balance-after{{ if .IsCurrentPeriod }}-ws{{ end }}">
            <h5>Balance after:</h5>
            {{ .BalanceMainAfter | moneyFormat .PricePrecision }} {{ .MainCurrency }} ≈
            {{ .BalanceMainAfterEqv | moneyFormat .QtyPrecision }} {{ .TradeCurrency }}<br/>
            {{ .BalanceTradeAfter | moneyFormat .QtyPrecision }} {{ .TradeCurrency }} ≈
            {{ .BalanceTradeAfterEqv | moneyFormat .PricePrecision }} {{ .MainCurrency }}<br/>
            Total: <strong>{{ .BalanceTotalAfter | moneyFormat .PricePrecision }} {{ .MainCurrency }}</strong>
        </div>
        {{ end }}
    </div>

    <hr/>
    {{ if .IsCurrentPeriod }}
    <div class="row align-items-start">
        <div class="col-12">
            <h5>
                {{ block "current-price" . }}
                <div id="current-price">
                    Current price: 1 {{ .TradeCurrency }} = <span class="text-success">{{ .CurrentPrice | moneyFormat .PricePrecision }}</span>
                    {{ .MainCurrency }}
                    <br/>
                    Available: <span class="text-success">{{ .AvailableMain | moneyFormat .PricePrecision }}</span> {{
                    .MainCurrency }},
                    <span class="text-success">{{ .AvailableTrade | moneyFormat .QtyPrecision }}</span> {{
                    .TradeCurrency }},
                    ∑ ≈ <span class="text-success">{{ .AvailableTotalMain | moneyFormat .PricePrecision }}</span> {{
                    .MainCurrency }}
                </div>
                {{ end }}
            </h5>
            <hr/>
            <h5>Timeframes:</h5>
            <div class="row align-items-start">
                {{ range $i, $timeframe := .Timeframes }}
                <div class="col-4 mb-3">
                    {{ block "timeframe-item-status" . }}
                    <div id="timeframe-item-status-{{ .Config.Resolution }}">
                        Resolution: {{ .Config.Resolution }}<br/>
                        {{ if .IsSidewaysState }}
                        Sideway from: {{ .SidewaysFrom.Format "2006-01-02 15:04:05" }}<br/>
                        {{ else }}
                        Not sideway<br/>
                        {{ end }}
                        Zone: {{ .Zone }}<br/>
                        Trend: {{ .Trend }}<br/>
                        Trend slope: {{ .TrendSlope | longFloatShort 2 }}<br/>
                        <span class="text-info">{{ .TradeStateMsg }}</span>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr/>
    {{ end }}

    <h5>Orders</h5>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="timeframeTab" role="tablist">
        {{ range $i, $timeframe := .Timeframes }}
        <li class="nav-item" role="presentation">
            <button class="nav-link {{ if eq $i 0 }}active{{ end }}" id="tf-{{ $timeframe.Config.Resolution }}-tab"
                    data-bs-toggle="tab" data-bs-target="#tf-{{ $timeframe.Config.Resolution }}"
                    type="button" role="tab">{{ $timeframe.Config.Resolution }}
            </button>
        </li>
        {{ end }}
    </ul>

    <!-- Tab content -->
    <div class="tab-content mt-3">

        {{ define "timeframe_orders_block" }}
        <div class="tab-pane fade {{ if .isActive }}show active{{ end }}" id="tf-{{ .timeframe.Config.Resolution }}"
             role="tabpanel">

            {{ if and .isCurrentPeriod .state }}
            <table class="table table-dark align-middle">

                <thead class="align-middle">
                <tr>
                    <th>Average<br/>Buy Price</th>
                    <th>Qty In Trade</th>
                    <th>Price To Sell<br/>Price To Buy</th>
                    <th>Qty To Sell<br/>Qty To Buy</th>
                    <th>Sell Conf Num<br/>Buy Conf Num</th>
                    <th>PNL Realized<br/>PNL Unrealized</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ .state.AverageBuyPrice | moneyFormat .PricePrecision }}</td>
                    <td>{{ .state.QtyInTrade | moneyFormat .QtyPrecision }} {{ .TradeCurrency }}</td>
                    <td>{{ .state.PriceToSell | moneyFormat .PricePrecision }}<br/>
                        {{ .state.PriceToBuy | moneyFormat .PricePrecision }}
                    </td>
                    <td>{{ .state.QtyToSell | moneyFormat .QtyPrecision }}<br/>
                        {{ .state.QtyToBuy | moneyFormat .QtyPrecision }}
                    </td>
                    <td>{{ .state.NumOrderToSell }}<br/>{{ .state.NumOrderToBuy }}</td>
                    <td>
                        {{ $classRealPNL := "" }}
                        {{ if gt .state.RealizedPNL 0.0 }}
                        {{ $classRealPNL = "bg-success" }}
                        {{ else if lt .state.RealizedPNL 0.0 }}
                        {{ $classRealPNL = "bg-danger" }}
                        {{ end }}

                        {{ $classUnrPNL := "" }}
                        {{ if gt .state.UnrealizedPNL 0.0 }}
                        {{ $classUnrPNL = "bg-success" }}
                        {{ else if lt .state.UnrealizedPNL 0.0 }}
                        {{ $classUnrPNL = "bg-danger" }}
                        {{ end }}

                        <strong class="{{ $classRealPNL }}">
                            {{ .state.RealizedPNL | moneyFormat .PricePrecision }} {{ .MainCurrency }}
                        </strong>
                        <br/>
                        <strong class="{{ $classUnrPNL }}">
                            {{ .state.UnrealizedPNL | moneyFormat .PricePrecision }} {{ .MainCurrency }}
                        </strong>
                    </td>
                </tr>
                </tbody>

            </table>
            {{ end }}

            <table class="table table-dark align-middle">

                <thead class="align-middle">
                <tr>
                    <th>#</th>
                    <th>Direction</th>
                    <th>Status</th>
                    <th>Config #</th>
                    <th>Qty</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Average<br/>Buy Price</th>
                    <th>Qty In Trade</th>
                    <th>Realized PNL</th>
                    <th>Created Time</th>
                    <th>Updated Time</th>
                </tr>
                </thead>

                <tbody>
                {{ range $i, $order := .orders }}
                <tr>
                    <td>#{{ add $i 1 }}</td>
                    {{ if eq $order.Side "BUY" }}
                    <td class="bg-success">{{ $order.Side }}{{ if $order.Moved }} <span title="Moved between timeframes">🔁</span>{{ end }}</td>
                    {{ else }}
                    <td class="bg-danger">{{ $order.Side }}{{ if $order.Moved }} <span title="Moved between timeframes">🔁</span>{{ end }}</td>
                    {{ end }}
                    <td>{{ $order.OrderStatus }}</td>
                    <td>{{ add $order.ConfigKey 1 }}</td>
                    <td>{{ $order.Qty | moneyFormat $.QtyPrecision }}</td>
                    <td>{{ mul $order.Qty $order.Price | moneyFormat $.PricePrecision }}</td>
                    <td>{{ $order.Price | moneyFormat $.PricePrecision }}</td>
                    <td>{{ $order.AverageBuyPrice | moneyFormat $.PricePrecision }}</td>
                    <td>{{ $order.QtyInTrade | moneyFormat $.QtyPrecision }}</td>
                    <td>
                        {{ $classOrderPNL := "" }}
                        {{ if gt $order.RealizedPNL 0.0 }}
                        {{ $classOrderPNL = "bg-success" }}
                        {{ else if lt $order.RealizedPNL 0.0 }}
                        {{ $classOrderPNL = "bg-danger" }}
                        {{ end }}
                        <strong class="{{ $classOrderPNL }}">
                            {{ $order.RealizedPNL | moneyFormat $.PricePrecision }} {{ $.MainCurrency }}
                        </strong>
                    </td>
                    <td>{{ $order.CreatedTime | dateFormat "2006-01-02 15:04:05" }}</td>
                    <td>{{ $order.UpdatedTime | dateFormat "2006-01-02 15:04:05" }}</td>
                </tr>
                {{ end }}
                </tbody>

            </table>
        </div>
        {{ end }}

        {{ range $i, $timeframe := .Timeframes }}
        {{ $isActive := false }}
        {{ if eq $i 0 }} {{ $isActive = true }} {{ end }}
        {{ $args := dict "isActive" $isActive
        "timeframe" $timeframe
        "orders" (index $.Orders $timeframe.Config.Resolution)
        "state" (index $.TimeframeStates $timeframe.Config.Resolution)
        "isCurrentPeriod" $.IsCurrentPeriod
        "PricePrecision" $.PricePrecision
        "MainCurrency" $.MainCurrency
        "QtyPrecision" $.QtyPrecision
        "TradeCurrency" $.TradeCurrency
        }}
        {{ template "timeframe_orders_block" $args }}
        {{ end }}
    </div>


</div>
