<div hx-ext="ws" ws-connect="{{ .WsLink }}">
<div class="col md-12">
    <div>
        Date Range:
        <a href="{{ .PrevPeriodLink }}"><</a>
        {{ .DateFrom | dateFormat "2006-01-02" }}
        -
        {{ .DateTo | dateFormat "2006-01-02" }}
        <a href="{{ .NextPeriodLink }}">></a>
    </div>
</div>

<div class="clearfix"></div>
<hr/>

<div class="row align-items-start">
    <div class="col-6">
        <h4>
            Total PNL:
            {{ .TotalPnl | moneyFormat .PricePrecision }}
            {{ .MainCurrency }}
            ({{ .TotalPnlPercent | moneyFormat 2 }}%)
        </h4>
        <div>
            Balance before:
            {{ .BalanceMainBefore | moneyFormat .PricePrecision  }} {{ .MainCurrency }}
            + {{ .BalanceTradeBefore | moneyFormat .QtyPrecision  }} {{ .TradeCurrency }}
            = <strong>{{ .BalanceTotalBefore | moneyFormat .PricePrecision }} {{ .MainCurrency }}</strong>
        </div>
        <div>
            Deposit amount: {{ .DepoAmount | moneyFormat .PricePrecision }} {{ .MainCurrency }}
        </div>
        <div>
            Withdraw amount: {{ .WithdrawAmount | moneyFormat .PricePrecision }} {{ .MainCurrency }}
        </div>
        <div>
            Balance after:
            {{ .BalanceMainAfter | moneyFormat .PricePrecision  }} {{ .MainCurrency }}
            + {{ .BalanceTradeAfter | moneyFormat .QtyPrecision  }} {{ .TradeCurrency }}
            = <strong>{{ .BalanceTotalAfter | moneyFormat .PricePrecision }} {{ .MainCurrency }}</strong>
        </div>
    </div>
    <div class="col-6">
        <h4>
            Current price:
            {{ block "current-price" . }}
            <span id="current-price">
                1 {{ .TradeCurrency }} = {{ .CurrentPrice | moneyFormat .PricePrecision }} {{ .MainCurrency }}
            </span>
            {{ end }}
        </h4>
    </div>

</div>

<div class="clearfix"></div>
<hr/>

<h5>Timeframes</h5>
<div class="row align-items-start">
    {{ range $i, $timeframe := .Timeframes }}
    <div class="col-2">
        {{ block "timeframe-status" . }}
        <div id="timeframe-status-{{ .Config.Resolution }}">
            Resolution: {{ .Config.Resolution }}<br />
            {{ if .IsSidewaysState }}
            Sideway <br />
            {{ else }}
            Not sideway <br />
            {{ end }}
            Zone: {{ .Zone }}
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>

<div class="clearfix"></div>
<hr/>

<h5>Deals and orders</h5>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="timeframeTab" role="tablist">
    {{ range $i, $timeframe := .Timeframes }}
    <li class="nav-item" role="presentation">
        <button class="nav-link {{ if eq $i 0 }}active{{ end }}" id="tf-{{ $timeframe.Config.Resolution }}-tab" data-bs-toggle="tab" data-bs-target="#tf-{{ $timeframe.Config.Resolution }}"
                type="button" role="tab">{{ $timeframe.Config.Resolution }}{{ if $timeframe.Config.IsHeap }} (Heap){{end}}</button>
    </li>
    {{ end }}
</ul>

<!-- Tab content -->
<div class="tab-content mt-3">
    {{ range $i, $timeframe := .Timeframes }}
    <div class="tab-pane fade {{ if eq $i 0 }}show active{{ end }}" id="tf-{{ $timeframe.Config.Resolution }}" role="tabpanel">



        <table class="table table-dark align-middle">

            <thead class="align-middle">
            <tr>
                <th>Timeframe</th>
                <th>Status</th>
                <th>Average<br/> Buy Price</th>
                <th>Min. Price To Sell</th>
                <th>Revenue</th>
                <th>Created Time</th>
                <th>Closed Time</th>
            </tr>
            </thead>

            <tbody>
            {{ range $.DealsRelations }}
            {{ if eq .Deal.Timeframe $timeframe.Config.Resolution }}
            <tr>
                <td class="">{{ .Deal.Timeframe }}</td>
                <td class="">{{ .Deal.Status }}</td>
                <td class="">{{ .AverageBuyPrice | moneyFormat $.PricePrecision }}</td>
                <td class="">{{ .PriceToSell | moneyFormat $.PricePrecision }}</td>
                <td class="">{{ .RevenueMainCur | moneyFormat $.PricePrecision }} {{ $.MainCurrency }},
                    {{ .RevenueTradeCur | moneyFormat $.QtyPrecision }} {{ $.TradeCurrency }}
                    {{ if gt .RevenueTotal 0.0 }}
                    = <strong class="bg-success">{{ .RevenueTotal | moneyFormat $.PricePrecision }} {{ $.MainCurrency }}</strong>
                    {{ else }}
                    = <strong class="bg-danger">{{ .RevenueTotal | moneyFormat $.PricePrecision }} {{ $.MainCurrency }}</strong>
                    {{ end }}
                </td>
                <td class="">{{ .Deal.CreatedTime | dateFormat "2006-01-02 15:04:05" }}</td>
                <td class="">
                    {{ if not (isZeroTime .Deal.ClosedTime) }}
                    {{ .Deal.ClosedTime | dateFormat "2006-01-02 15:04:05" }}
                    {{ end }}
                </td>
            </tr>
            <tr>
                <td colspan="100" class="bg-secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">Order:</div>
                            <div class="col-1">Direction:</div>
                            <div class="col-1">Status:</div>
                            <div class="col-1">Qty:</div>
                            <div class="col-1">Amount:</div>
                            <div class="col-1">Price:</div>
                            <div class="col-2">Created Time:</div>
                            <div class="col-2">Updated Time:</div>
                        </div>
                    </div>
                </td>
            </tr>
            {{ range $i, $order := .Orders }}
            <tr>
                <td colspan="100" class="bg-secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">#{{ add $i 1 }}</div>
                            {{ if eq $order.Side "BUY" }}
                            <div class="col-1 bg-success">{{ $order.Side }}</div>
                            {{ else }}
                            <div class="col-1 bg-danger">{{ $order.Side }}</div>
                            {{ end }}
                            <div class="col-1">{{ $order.OrderStatus }}</div>
                            <div class="col-1">{{ $order.Qty | moneyFormat $.QtyPrecision}}</div>
                            <div class="col-1">{{ mul $order.Qty $order.Price | moneyFormat $.PricePrecision}}</div>
                            <div class="col-1">{{ $order.Price | moneyFormat $.PricePrecision }}</div>
                            <div class="col-2">{{ $order.CreatedTime | dateFormat "2006-01-02 15:04:05" }}</div>
                            <div class="col-2">{{ $order.UpdatedTime | dateFormat "2006-01-02 15:04:05" }}</div>
                        </div>
                    </div>
                </td>
            </tr>
            {{ end }}
            {{ end }}
            {{ end }}

            </tbody>

        </table>
    </div>
    {{ end }}
</div>


</div>
