TRADER_WEB_PORT="8080"

#Number of parrallel requests to the brokers
TRADER_NUMBER_PARALLEL_REQUESTS=5

#EXMO config
TRADER_EXMO_KEY="K-123"
TRADER_EXMO_SECRET="S-123"

TRADER_BYBIT_API_KEY=""
TRADER_BYBIT_SECRET_API_KEY=""

FERRETDB_LISTENER_TCP="127.0.0.1:17027"
FERRETDB_HANDLER="sqlite"
FERRETDB_SQLITE_URL="file:var/ferretdb/"

LOG_DUMP_TO_FILE="var/log/dump_to_file"
