app:
  web_port: "8085"
  mongodb_uri: "mongodb://127.0.0.1:17027"
  ferretdb_listener_tcp: "127.0.0.1:17027"
  ferretdb_handler: "sqlite"
  ferretdb_sqlite_url: "file:var/ferretdb/"

strategy:
  - code: buy_cheap_sell_high
    id:  BTC_USDT_1
    domain: bybit_spot_demo_btc
    coin_pare: BTCUSDT
    main_currency: USDT
    trade_currency: BTC
    timeout_seconds: 10
    resolution: 30
    cost_ranges:
      - 300
      - 600
      - 900
      - 1200
    percent_ranges:
      - 7
      - 8
      - 10
      - 12
    long_term_max_price: 70000
    long_term_min_price: 10000
    long_term_percent_buffer: 10
    max_qty_diff: 1.5
    min_qty: 0.0001
    purchase_volume_precision: 6
    purchase_price_precision: 1
    commission_percent: 0.1
    minutes_to_reduce_price_range: 240
    avg_price_candle_limit: 10
    avg_price_candle_offset: 2
    manual_buy_price_before_start: 20000
    withdraw_percent: 50

  - code: fibonacci
    id:  BTC_USDT_FIBONACCI_1
    domain: bybit_derivatives_demo_btc
    enabled: 1
    verbose: 0
    telegram_notifier333: 1
    coin_pare: BTCUSDT
    main_currency: USDT
    trade_currency: BTC
    min_depo: 10
    leverage: 2
    timeout_seconds: 10
    resolution: 15
    max_candle_review: 100
    min_candle_review: 15
    long_trend_resolution: 60
    long_trend_candle_review: 168 # 24 * 7 - 1 week
    price_precision: 2
    qty_precision: 2
    min_qty: 0.01
    fib_entry_point_1: 0.618
    fib_entry_point_2: 0.5
    fib_entry_point_3: 0.382
    fib_stop_loss: -0.5
    fib_take_profit_1: 1.25
    fib_take_profit_2: 0.92
    fib_take_profit_3: 0.59
    risk_percent: 5
    ep_1_to_full_qty_percent: 10
    ep_2_to_full_qty_percent: 30
    ep_3_to_full_qty_percent: 60
    hours_to_reduce_tp_1: 24
    hours_to_reduce_tp_2: 48
    hours_to_reduce_tp_3: 72
    percent_to_reduce_tp: 30
    withdraw_percent: 50

domain:
  bybit_spot_demo_btc:
    code: bybitSpot
    secrets:
      endpoint: https://api-testnet.bybit.com
#      endpoint: https://api.bybit.com
      key: 123
      pass: asdfasdfasdf
      verbose: 0

  bybit_derivatives_demo_btc:
    code: bybitMargin
    secrets:
      endpoint: https://api-testnet.bybit.com
#      endpoint: https://api.bybit.com
      key: 123
      pass: asdfasdfasdf
      verbose: 0
