app:
  web_port: 8085

strategy:
  - code: buy_cheap_sell_high
    id:  BTC_USDT_1
    domain: bybit_spot_demo_btc
    coin_pare: BTCUSDT
    main_currency: USDT
    trade_currency: BTC
    timeout_seconds: 10
    resolution: 30
    cost_ranges:
      - 300
      - 600
      - 900
      - 1200
    percent_ranges:
      - 7
      - 8
      - 10
      - 12
    long_term_max_price: 70000
    long_term_min_price: 10000
    long_term_percent_buffer: 10
    purchase_volume_precision: 6
    purchase_price_precision: 1
    minutes_to_reduce_price_range: 240
    avg_price_candle_limit: 10
    avg_price_candle_offset: 2
    manual_buy_price_before_start: 20000

domain:
  bybit_spot_demo_btc:
    code: bybitSpot
    secrets:
      endpoint: https://api-testnet.bybit.com
#      endpoint: https://api.bybit.com
      key: XR1neYfQwXyVLnXJh1
      pass: q4kJrPfUHTjqoMIuOUehjURfyP1X0DNVJsXS