<table class="table table-hover">

    <thead>
    <tr>
        <th>Date/Time</th>
        <th>Direction</th>
        <th>Price</th>
        <th>{{ .MainCurrency }}</th>
        <th>{{ .TradeCurrency }}</th>
        <th>Avarage Price</th>
        <th>Revenue</th>
    </tr>
    </thead>

    <tbody>

    {{ range .ReportOrderItems }}
    {{ block "order-list-element" .}}
    <tr>
        <td>{{ .DateTime | dateFormat "2006-01-02 15:04:05" }}</td>
        <td>{{ .Direction }}</td>
        <td>{{ .Price | longFloatShort 2 }}</td>
        <td>{{ .MainCurrencyAmount | longFloatShort 5 }}</td>
        <td>{{ .TradeCurrencyAmount | longFloatShort 5 }}</td>
        <td>{{ .AvaragePrice | longFloatShort 2 }}</td>
        <td>{{ .Revenue | longFloatShort 5 }}</td>
    </tr>
    {{ end }}
    {{ end }}

    </tbody>

</table>
