<div class="col md-12">
    <div>
        Date Range:
        {{ .DateFrom | dateFormat "2006-01-02" }}
        -
        {{ .DateTo | dateFormat "2006-01-02" }}
    </div>
</div>

<div class="clearfix"></div>
<hr/>

<div class="row align-items-start">
    <h4>Amounts:</h4>
    <div class="col md-4">
        <h5>Beginning of the period:</h5>
        <div>
            {{ .Amounts.BeginMainCurrency | longFloatShort .MainCurrencyPrecision }} {{ .MainCurrency }}<br/>
        </div>
        <div>
            {{ .Amounts.BeginTradeCurrency | longFloatShort .TradeCurrencyPrecision }} {{ .TradeCurrency }}<br/>
        </div>
        <div>
            Total: {{ .Amounts.BeginTotal | longFloatShort .MainCurrencyPrecision }} {{ .MainCurrency }}<br/>
        </div>
    </div>
    <div class="col md-4">
        <h5>Ending of the period:</h5>
        <div>
            {{ .Amounts.EndMainCurrency | longFloatShort .MainCurrencyPrecision }} {{ .MainCurrency }}<br/>
        </div>
        <div>
            {{ .Amounts.EndTradeCurrency | longFloatShort .TradeCurrencyPrecision }} {{ .TradeCurrency }}<br/>
        </div>
        <div>
            Total: {{ .Amounts.EndTotal | longFloatShort .MainCurrencyPrecision }} {{ .MainCurrency }}<br/>
        </div>
    </div>
    <div class="col md-4">
        <h5>Difference:</h5>
        <div>
            {{ .Amounts.DiffMainCurrency | longFloatShort .MainCurrencyPrecision }} {{ .MainCurrency }}<br/>
        </div>
        <div>
            {{ .Amounts.DiffTradeCurrency | longFloatShort .TradeCurrencyPrecision }} {{ .TradeCurrency }}<br/>
        </div>
        <div>
            Total: {{ .Amounts.DiffTotal | longFloatShort .MainCurrencyPrecision }} {{ .MainCurrency }}<br/>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<hr/>

<div class="row align-items-start">
    <h4>
        Revenue Global:
            {{ .Revenue | longFloatShort .MainCurrencyPrecision }}
            {{ .MainCurrency }}
            ({{ .RevenuePercents | longFloatShort 2 }}%)
    </h4>
    <h4>
        Revenue Local:
            {{ .LocalRevenue | longFloatShort .MainCurrencyPrecision }}
            {{ .MainCurrency }}
            ({{ .LocalRevenuePercents | longFloatShort 2 }}%)
    </h4>
    <div>
        Local Average Price Buy: {{ .LocalAvgPriceBuy | longFloatShort .MainCurrencyPrecision }} {{ .MainCurrency }}
    </div>
    <div>
        Local Average Price Sell: {{ .LocalAvgPriceSell | longFloatShort .MainCurrencyPrecision }} {{ .MainCurrency }}
    </div>
    <div>
        Commission: {{ .Commission | longFloatShort .MainCurrencyPrecision }} {{ .MainCurrency }}
    </div>
</div>

<div class="clearfix"></div>
<hr/>

<table class="table table-hover table-dark">

    <thead>
    <tr>
        <th>Date/Time</th>
        <th>Direction</th>
        <th>Price</th>
        <th>{{ .MainCurrency }}</th>
        <th>{{ .TradeCurrency }}</th>
        <th>Avarage Price</th>
        <th>Revenue</th>
        <th>Commission</th>
        <th>Total Revenue</th>
    </tr>
    </thead>

    <tbody>

    {{ range .ReportOrderItems }}
    <tr>
        <td>{{ .DateTime | dateFormat "2006-01-02 15:04:05" }}</td>
        <td>{{ .Direction }}</td>
        <td>{{ .Price | longFloatShort $.MainCurrencyPrecision }}</td>
        <td>{{ .MainCurrencyAmount | longFloatShort $.MainCurrencyPrecision }}</td>
        <td>{{ .TradeCurrencyAmount | longFloatShort $.TradeCurrencyPrecision }}</td>
        <td>{{ .AvaragePrice | longFloatShort $.MainCurrencyPrecision }}</td>
        <td>{{ .Revenue | longFloatShort $.MainCurrencyPrecision }}</td>
        <td>{{ .Commission | longFloatShort $.MainCurrencyPrecision }}</td>
        <td>{{ .TotalRevenue | longFloatShort $.MainCurrencyPrecision }}</td>
    </tr>
    {{ else }}
    <tr>
        <td colspan="9">No orders found.</td>
    </tr>
    {{ end }}

    </tbody>

</table>
