<div class="col md-12">
    <div>
        Date Range:
        <a href="{{ .PrevPeriodLink }}"><</a>
        {{ .DateFrom | dateFormat "2006-01-02" }}
        -
        {{ .DateTo | dateFormat "2006-01-02" }}
        <a href="{{ .NextPeriodLink }}">></a>
    </div>
</div>

<div class="clearfix"></div>
<hr/>

<div class="row align-items-start">
    <h4>
        Total PNL:
        {{ .TotalPnl | longFloatShort .PricePrecision }}
        {{ .MainCurrency }}
        ({{ .TotalPnlPercent | longFloatShort 2 }}%)
    </h4>
    <div>
        Balance before: {{ .BalanceBefore | longFloatShort .PricePrecision }} {{ .MainCurrency }}
    </div>
    <div>
        Balance after: {{ .BalanceAfter | longFloatShort .PricePrecision }} {{ .MainCurrency }}
    </div>
</div>

<div class="clearfix"></div>
<hr/>

<table class="table table-dark">

    <thead>
    <tr>
        <th>AvgPrice</th>
        <th>MarkPrice</th>
        <th>Size</th>
        <th>Full QTY</th>
        <th>Leverage</th>
        <th>Side</th>
        <th>TotalPnl</th>
        <th>TakeProfit</th>
        <th>StopLoss</th>
        <th>Status</th>
        <th>Fib Min Price</th>
        <th>Fib Max Price</th>
        <th>Created</th>
    </tr>
    </thead>

    <tbody>

    {{ range .Positions }}
    <tr>
        {{ $class := "bg-success" }}
        {{ if or
            (and (eq .Status "CLOSED") (lt .TotalClosePnl 0.0))
            (and (eq .Status "ACTIVE") (lt .ProviderPosition.TotalPnl 0.0))
        }}
        {{ $class = "bg-danger" }}
        {{ end }}
        <td class="{{ $class }}">{{ .ProviderPosition.AvgPrice | longFloatShort $.PricePrecision }}</td>
        <td class="{{ $class }}">{{ .ProviderPosition.MarkPrice | longFloatShort $.PricePrecision }}</td>
        <td class="{{ $class }}">{{ .ProviderPosition.Size }}</td>
        <td class="{{ $class }}">{{ .FibonacciChart.FullQty }}</td>
        <td class="{{ $class }}">{{ .ProviderPosition.Leverage }}</td>
        <td class="{{ $class }}">{{ .ProviderPosition.Side }}</td>
        <td class="{{ $class }}">
            {{ if eq .Status "CLOSED" }}
            {{ .TotalClosePnl | longFloatShort $.PricePrecision }}
            {{ else }}
            {{ .ProviderPosition.TotalPnl | longFloatShort $.PricePrecision }}
            {{ end }}
        </td>
        <td class="{{ $class }}">{{ .ProviderPosition.TakeProfit | longFloatShort $.PricePrecision }}</td>
        <td class="{{ $class }}">{{ .ProviderPosition.StopLoss | longFloatShort $.PricePrecision }}</td>
        <td class="{{ $class }}">{{ .Status }}</td>
        <td class="{{ $class }}">{{ .FibonacciChart.SourceMinPrice }}</td>
        <td class="{{ $class }}">{{ .FibonacciChart.SourceMaxPrice }}</td>
        <td class="{{ $class }}">{{ .CreatedTime | dateFormatFromUnix "2006-01-02 15:04:05" }}</td>
    </tr>
    {{ if gt .Orders.Order1.CreatedTime 0 }}
    <tr>
        <td colspan="100" class="bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-1">Order #1</div>
                    <div class="col-1">Qty: {{ .Orders.Order1.Qty }}</div>
                    <div class="col-1">Price: {{ .Orders.Order1.Price }}</div>
                    <div class="col-1">TakeProfit: {{ .Orders.Order1.TakeProfit }}</div>
                    <div class="col-1">StopLoss: {{ .Orders.Order1.StopLoss }}</div>
                    <div class="col-2">Created Time:<br/>{{ .Orders.Order1.CreatedTime | dateFormatFromUnix "2006-01-02 15:04:05" }}</div>
                </div>
            </div>
        </td>
    </tr>
    {{ end }}
    {{ if gt .Orders.Order2.CreatedTime 0 }}
    <tr>
        <td colspan="100" class="bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-1">Order #2</div>
                    <div class="col-1">Qty: {{ .Orders.Order2.Qty }}</div>
                    <div class="col-1">Price: {{ .Orders.Order2.Price }}</div>
                    <div class="col-1">TakeProfit: {{ .Orders.Order2.TakeProfit }}</div>
                    <div class="col-1">StopLoss: {{ .Orders.Order2.StopLoss }}</div>
                    <div class="col-2">Created Time:<br/>{{ .Orders.Order2.CreatedTime | dateFormatFromUnix "2006-01-02 15:04:05" }}</div>
                </div>
            </div>
        </td>
    </tr>
    {{ end }}
    {{ if gt .Orders.Order3.CreatedTime 0 }}
    <tr>
        <td colspan="100" class="bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-1">Order #3</div>
                    <div class="col-1">Qty: {{ .Orders.Order3.Qty }}</div>
                    <div class="col-1">Price: {{ .Orders.Order3.Price }}</div>
                    <div class="col-1">TakeProfit: {{ .Orders.Order3.TakeProfit }}</div>
                    <div class="col-1">StopLoss: {{ .Orders.Order3.StopLoss }}</div>
                    <div class="col-2">Created Time:<br/>{{ .Orders.Order3.CreatedTime | dateFormatFromUnix "2006-01-02 15:04:05" }}</div>
                </div>
            </div>
        </td>
    </tr>
    {{ end }}
    {{ else }}
    <tr>
        <td colspan="100">No positions found.</td>
    </tr>
    {{ end }}

    </tbody>

</table>
